.button {
  font-family: $main-font;
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border: 2px $primary-color solid;
  border-radius: 4px;
}

.button_primary {
  font-family: $main-font;
  position: relative;
  background-color: $primary-color;
  color: $white;
  transition: color 0.3s ease-in;
  z-index: 1;

  &:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}


.button_secondary {
  position: relative;
  background-color: $white;
  color: $primary-color;
  transition: color 0.3s ease-in;
  z-index: 1;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
  