.form-label {
    margin-bottom: 1rem;
    font-size: 1.8;
    font-style: $main-font;
    font-weight: 600;
    color: $primary-color;
    text-align: left;
}

.input-focus {

border-color:              $secondary-color
}