.header_area {
    position: relative;
    height: 12vh;
    background: $white;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;

    .navbar-toggler {
        position: relative;
        height: 50px;
        width: 50px;
        border: none;
        cursor: pointer;
        outline: none;

        .menu-icon-bar {
            position: absolute;
            left: 15px;
            right: 15px;
            height: 3px;
            background-color: $primary-color;
            opacity: 0;
            -webkit-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            transform: translateY(-1px);
            transition: all 0.3s ease-in;

            &:first-child {
                opacity: 1;
                -webkit-transform: translateY(-1px) rotate(45deg);
                -ms-sform: translateY(-1px) rotate(45deg);
                transform: translateY(-1px) rotate(45deg);
            }

            &:last-child {
                opacity: 1;
                -webkit-transform: translateY(-1px) rotate(135deg);
                -ms-sform: translateY(-1px) rotate(135deg);
                transform: translateY(-1px) rotate(135deg);
            } 
        }
    }

    .navbar-toggler.collapsed .menu-icon-bar {
        opacity: 1;

        &:first-child {
            -webkit-transform: translateY(-7px) rotate(0);
            -ms-sform: translateY(-7px) rotate(0);
            transform: translateY(-7px) rotate(0);
        }
        &:last-child {
            -webkit-transform: translateY(5px) rotate(0);
            -ms-sform: translateY(5px) rotate(0);
            transform: translateY(5px) rotate(0);
        }
    }
}


.navbar-nav {
    .nav_link {
        color: $primary-color;
        font-family: $main-font;
        padding: 20px;
        position: relative;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-decoration: none;

        &:hover {
            color: $secondary-color;
            font-weight: 700;
        }

        &:focus {
            color: $primary-color;
        }
    }
}